<!Doctype html>
<meta name="viewport" content="width=device-width" />
<html>
<head>
  <title>SSEF Submissions</title>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet">
  <style>
    h1{
      text-align: center;
      font-family: 'Ubuntu';
    }
  </style>
</head>
<body>
  <h1>SSEF - The datamine</h1>
</body>
<script>

</script>
</html>
