<!Doctype html>
<meta name="viewport" content="width=device-width" />
<html>
<head>
  <title>SSEF Submissions</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans" rel="stylesheet">
  </style>
</head>
<body>
  <%- projects[0] %>
</body>
</html>
